section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.example-card {
  max-width: 500px;
  min-width: 350px;
  min-height: 220px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.stock-up {
  color: #16a34a; /* A nice, vibrant green */
  font-weight: bold;
}

.stock-down {
  color: #dc2626; /* A clean, clear red */
  font-weight: bold;
}
